body {
    font-family: "Playwrite NZ", cursive;
    background-color: rgb(248, 242, 194);
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #f6f1f1;
    text-align: center;
    background-color: #565356;
    border-radius: 15px;
  }
  
  h6 {
    color: #826b6bcf;
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 10px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 1px 10px rgba(219, 109, 109, 0.5);
    font-size: 32px;
  }
  
  .boton {
    display: inline-block;
    padding: 12px 24px;
    background-color: #bbb;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    border: none;
    font-size: 16px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .boton:hover {
    background-color: #999;
    transform: scale(1.05);
  }
  
  input[type="text"],
  input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .resultado-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    max-width: 600px;
    margin: 20px auto;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #f0f0f0;
  }
  
  footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
  }
  